<nav class="navbar bg-white border-bottom shadow-sm py-3">
  <h5 class="my-0 mr-md-auto font-weight-normal">AngularEshop</h5>
  <div class="my-2 my-md-0 mr-md-3">
    <a class="p-2" [routerLink]="[ '' ]">Home</a>
    <a class="p-2" [routerLink]="[ '/catalog']">Catalog</a>
    <a class="p-2" [routerLink]="[ '/cart' ]">Cart: {{itemService.getCartCount()}}</a>
    <button type="button" class="btn btn-outline-primary" (click)="itemService.clearLocalStorage()">CLEAR</button>
    <a class="p-2" *ngIf="authService.isLoggedIn()" [routerLink]="['/admin']">Admin</a>
    <a class="p-2" *ngIf="authService.isLoggedIn()" [routerLink]="['/myorders']">My Orders</a>
    <a class="p-2" *ngIf="!authService.isLoggedIn()" [routerLink]="[ '/login']">Login</a>
    <a class="p-2" *ngIf="authService.isLoggedIn()" (click)="authService.logout()" href="">Logout</a>
  </div>
</nav>