<div class="container my-3">
  <div class="items">
    <div *ngFor="let item of items">
      <div class="">
        <div class="itemCard row">
          <input class="form-control col mr-2 mb-2" type="text" [(ngModel)]="item.name">
          <input class="form-control col mr-2 mb-2" type="text" [(ngModel)]="item.description">
          <input class="form-control col mr-2 mb-2" type="text" [(ngModel)]="item.price">
          <button class="btn btn-danger col mr-2 mb-2" (click)="deleteItem(item)">Delete</button>
          <button class="btn btn-primary col mr-2 mb-2" (click)="editItem(item)">Edit</button>
        </div>
      </div>
    </div>
    <div class="">
      <div class="itemCard row">
        <input class="form-control col mr-2 mb-2" type="text" placeholder="name" [(ngModel)]="newItem.name">
        <input class="form-control col mr-2 mb-2" type="text" placeholder="description" [(ngModel)]="newItem.description">
        <input class="form-control col mr-2 mb-2" type="text" placeholder="price" [(ngModel)]="newItem.price">
        <button class="btn btn-success col mr-2 mb-2" (click)="createItem()">Create</button>
      </div>
    </div>
  </div>
  <div class="cart my-3" *ngIf="items">
    <table style="width:100%" class="table table-bordered table-striped">
      <tr class="thead-dark">
        <th>UserName</th>
        <th>Item</th>
        <th>Count</th>
        <th>Date</th>
      </tr>
      <tr *ngFor="let order of orders">
        <td>{{order.userId}}</td>
        <td>
          <p *ngFor="let name of getItemNames(order)">{{name}}</p>
        </td>
        <td>
          <p *ngFor="let count of order.counts">{{count}}</p>
        </td>
        <td>{{order.date.seconds * 1000 | date:'dd.MM.yyyy'}}</td>
      </tr>
    </table>
  </div>
</div>